
.background {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-pantalla-movimiento-humo-pastel_23-2148637177.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    /* background-position: center; */
    /* height: 100vh; */
    /* width: 100vw;   */
}
