
.paginado {
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    /* color: #9e3333; */
    background: rgba(187, 121, 121, 0.557);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
  
};

.paginado:hover {
    background: #971616;
    color: #bba093;
    font-weight: bold;
}

