
.background {
    background-image: url(https://images.unsplash.com/photo-1602072917553-326e3e2f76dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1629654857513-1136aef1b10f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    /* background-position: center; */
    /* height: 100vh; */
    width: 100vw;  
};

.nombre {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}

.resumen {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}

.nivel {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}

.imagen {
    border: 5px solid rgb(236, 157, 157);
    margin: 5px;
    padding: 1px;

    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.pasos {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}

.dietas {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}

.boton {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 30em;
    background: linear-gradient(0deg, rgb(98, 20, 31) 0%, rgb(235, 165, 156) 100%);
    border: none;
}